# this is a sample .env file. Copy this file to .env and fill in the values.

MONGODB_URI=
# MongoDB connection string. You can get this from your MongoDB Atlas account. but for the latest application we use Firebase, neglect the older MongoDB connection string.

NEXT_PUBLIC_FIREBASE_API_KEY=

NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=

NEXT_PUBLIC_FIREBASE_PROJECT_ID=

NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=

NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=

NEXT_PUBLIC_FIREBASE_APP_ID=

NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

GOOGLE_CLIENT_ID="your_copied_client_id"
GOOGLE_CLIENT_SECRET="your_copied_client_secret"
# Generate a cryptographically secure 32-byte secret via terminal: openssl rand -base64 32
AUTH_SECRET="your_generated_auth_secret"