@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #f59e0b;

    --background: 166.7, 81.8%, 4.3%;

    --foreground: 40 9.200000000000001% 97.5%;

    --muted: 40 46% 15%;
    --muted-foreground: 40 9.200000000000001% 55%;

    --popover: 40 46.599999999999994% 6.5%;
    --popover-foreground: 40 9.200000000000001% 97.5%;

    --card: 40 46.599999999999994% 6.5%;
    --card-foreground: 40 9.200000000000001% 97.5%;

    --border: 40 46% 15%;
    --input: 40 46% 15%;

    --primary: 40 92% 50%;
    --primary-foreground: 40 9.200000000000001% 5%;

    --secondary: 40 46% 15%;
    --secondary-foreground: 40 9.200000000000001% 97.5%;

    --accent: 40 46% 15%;
    --accent-foreground: 40 9.200000000000001% 97.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 40 9.200000000000001% 97.5%;

    --ring: 40 92% 50%;
    --radius: 0.5rem;

    /* Other Variables */
    --background-gradient: 168, 100%, 9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  height: 100px;
  background-color: hsl(var(--foreground));
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--primary));
}
